@font-face {
    font-family: "Montserrat-Regular";
    src: url("Montserrat-Regular.eot?") format("eot"),url("Montserrat-Regular.woff") format("woff"),url("Montserrat-Regular.ttf") format("truetype"),url("Montserrat-Regular.svg#Montserrat-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    backdrop-filter: blur(25px);
}

body {
    font-family: "Montserrat-Regular", sans-serif;
    background-color: rgb(25, 25, 25);
    color: white;
    overflow: hidden;
    user-select: none;
    background-image: url("images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(25px);
    background-position: center center;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-modes {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-money {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
}

.container-playingMoney {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
}

.container-question {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center;
    height: 100vh;
}

.container-gameOver {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container-win {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.introBG {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgb(25, 25, 25);
    z-index: 1;
}

.focusBG {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgb(0, 0, 0);
    z-index: 0;
    opacity: 0;
    pointer-events: none;
}

#introLogo {
    display: none;
    opacity: 0;
    margin-bottom: 25px;
}

.introText {
    opacity: 0;
    font-size: 50px;
}

.gameOverBG {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(50, 50, 50);
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
    border: 2px solid rgb(75, 75, 75);
    border-radius: 25%;
    width: 40%;
    height: 25%;
}

.winBG {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(50, 50, 50);
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
    border: 2px solid rgb(75, 75, 75);
    border-radius: 10%;
    width: 100%;
    height: 25%;
    animation: winIdle 2s infinite ease;
}

.container-gameOverBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    width: 100%;
}

.container-modeBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.container-winBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    width: 100%;
}

.container-modeImages {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: auto;
}

.container-modeText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
}

.gameOverBtn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    margin: 10px 50px 10px 50px;
    font-size: 18px;
    background-color: rgb(255, 100, 100);
    border: 2px solid rgb(100, 0, 0);
    color: white;
    cursor: pointer;
    border-radius: 10%;
    box-shadow: 0 5px 5px rgba(255, 50, 50, 0.1);
    text-align: center;
}

.gameOverBtn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    margin: 10px 50px 10px 50px;
    font-size: 18px;
    background-color: rgb(50, 50, 50);
    border: 2px solid rgb(75, 75, 75);
    color: white;
    cursor: pointer;
    border-radius: 10%;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
    text-align: center;
}

.modeBtn {
    display: flex;
    flex-direction: row;
    margin: 10px 0 10px 0;
    padding: 15px;
    height: 200px;
    width: 350px;
    font-size: 25px;
    background-color: rgb(50, 50, 50);
    border: 2px solid rgb(75, 75, 75);
    color: white;
    cursor: pointer;
    border-radius: 10%;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
}

.chosenImg {
    justify-self: flex-end;
    align-self: flex-start;
}

.gameOverText {
    font-size: 30px;
    text-align: center;
}

.winText {
    font-size: 35px;
    text-align: center;
}

.question {
    background-color: rgb(50, 50, 50);
    border: 2px solid rgb(75, 75, 75);
    padding: 20px;
    border-radius: 10%;
    width: 100%;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
}

#questionNumber {
    font-size: 18px;
    margin-bottom: 10px;
    color: rgb(200, 200, 200);
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}

.optionBtn {
    display: grid;
    grid-template-columns: 1% 99%;
    background-color: rgb(50, 50, 50);
    border: 2px solid rgb(75, 75, 75);
    padding: 10px 25px;
    border-radius: 10%;
    margin: 10px 0;
    cursor: pointer;
    color: white;
    width: 50%;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
    font-size: 18px;
}

.container-hints {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.hintBtn {
    background-color: rgb(50, 50, 50);
    border: 2px solid rgb(75, 75, 75);
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10%;
    margin: 10px;
    cursor: pointer;
    color: white;
    width: 32px;
    height: 50px;
    display: flex;
    align-items: center;
    transition: all 0.375s ease;
    overflow: hidden;
    font-size: 20px;
    text-wrap: nowrap;
}

#noHints {
    display: none;
    background-color: rgb(49, 0, 0);
    border-color: rgb(34, 22, 22);
    color: rgb(255, 114, 114);
    font-size: 20px;
}

.container-friend {
    display: none;
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    right: 25px;
    top: 20%;
    background-color: rgb(50, 50, 50);
    border: 2px solid rgb(75, 75, 75);
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
    border-radius: 25%;
    padding: 10px;
}

.friendAnswerText {
    margin-left: 25px;
    font-size: 20px;
    font-style: italic;
    color: rgb(200, 200, 200);
}

.friendImg {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgb(75, 75, 75);
}

.abcd {
    font-weight: bold;
}

.container-timer {
    display: none;
    position: absolute;
    bottom: 50px;
    right: 50px;
    font-size: 35px;
    background-color: rgb(50, 50, 50);
    border: 2px solid rgb(75, 75, 75);
    padding: 20px;
    border-radius: 25%;
}

.money {
    background-color: rgb(50, 50, 50);
    border: 2px solid rgb(75, 75, 75);
    padding: 10px 25px;
    border-radius: 25%;
    margin-top: 10px;
    animation: moneyAnimation 5s infinite cubic-bezier(0.5, 0, 0, 0.5);
}

.playingMoney {
    background-color: rgb(50, 50, 50);
    border: 2px solid rgb(75, 75, 75);
    padding: 10px 25px;
    border-radius: 25%;
    margin-top: 10px;
    animation: playingMoneyAnimation 5s infinite cubic-bezier(0.5, 0, 0, 0.5);
}

.logo {
    margin-right: 25px;
    animation: menuIdle 3s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
}

.logoImg {
    width: 400px;
    height: 400px;
}

.menuText {
    font-size: 24px;
    margin-right: 75px;
}

.modesText {
    font-size: 50px;
    text-align: right;
}

#modeDesc {
    font-size: 20px;
    font-style: italic;
    color: rgb(200, 200, 200);
}

.menuBtn {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 18px;
    background-color: rgb(50, 50, 50);
    border: 2px solid rgb(75, 75, 75);
    color: white;
    cursor: pointer;
    border-radius: 10%;
    box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
}

.info {
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    font-size: 14px;
    color: rgb(150, 150, 150);
    transition: all 0.375s ease;
    cursor: pointer;
    padding: 10px;
}

#particles-BG {
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#particles-WIN {
    display: none;
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#particles-GOOD {
    display: none;
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.info:hover {
    color: rgb(200, 200, 200);
    animation: none;
    transform: scale(1.1) translateY(-5px) translateX(15px);
}

.menuBtn:hover {
    animation: menuBtn 0.5s infinite ease;
}

.gameOverBtn1:hover {
    animation: GOBtn 2s infinite ease;
}

.gameOverBtn2:hover {
    animation: menuBtn 2s infinite ease;
}

.optionBtn:hover {
    animation: menuBtn 2s infinite ease;
}

.hintBtn:hover {
    width: 250px;
    box-shadow: 0 10px 15px rgba(255, 255, 255, 0.2);
}

@keyframes menuBtn {
    0% {
        transform: scale(1);
        border-color: rgb(75, 75, 75);
        box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
    }
    50% {
        transform: scale(1.05);
        border-color: rgb(125, 125, 125);
        box-shadow: 0 10px 10px rgba(255, 255, 255, 0.15);
    }
    100% {
        transform: scale(1);
        border-color: rgb(75, 75, 75);
        box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
    }
}

@keyframes GOBtn {
    0% {
        transform: scale(1);
        border-color: rgb(75, 0, 0);
        box-shadow: 0 5px 5px rgba(255, 0, 0, 0.1);
    }
    50% {
        transform: scale(1.05);
        border-color: rgb(125, 0, 0);
        box-shadow: 0 10px 10px rgba(255, 0, 0, 0.15);
    }
    100% {
        transform: scale(1);
        border-color: rgb(75, 0, 0);
        box-shadow: 0 5px 5px rgba(255, 0, 0, 0.1);
    }
}

@keyframes moneyAnimation {
    0% {
        transform: scale(1);
        color: white;
        box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
    }
    50% {
        transform: scale(1.2);
        color: gold;
        box-shadow: 0 5px 5px rgba(255, 215, 0, 0.2);
    }
    100% {
        transform: scale(1);
        color: white;
        box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
    }
}

@keyframes playingMoneyAnimation {
    0% {
        transform: scale(1);
        color: white;
        box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
    }
    50% {
        transform: scale(1.2);
        color: greenyellow;
        box-shadow: 0 10px 10px rgba(173, 255, 47, 0.2);
    }
    100% {
        transform: scale(1);
        color: white;
        box-shadow: 0 5px 5px rgba(255, 255, 255, 0.1);
    }
}

@keyframes hideMenu {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100px);
    }
}

@keyframes showMenu {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes menuIdle {
    0% {
        transform: translateY(0) rotateZ(0deg);
    }
    12% {
        transform: translateY(-12px) rotateZ(-3deg);
    }
    24% {
        transform: translateY(-25px) rotateZ(3deg);
    }
    36% {
        transform: translateY(-12px) rotateZ(-3deg);
    }
    48% {
        transform: translateY(0) rotateZ(3deg);
    }
    60% {
        transform: translateY(12px) rotateZ(-3deg);
    }
    72% {
        transform: translateY(25px) rotateZ(3deg);
    }
    84% {
        transform: translateY(12px) rotateZ(-3deg);
    }
    100% {
        transform: translateY(0) rotateZ(0deg);
    }
}

@keyframes sizeMoney {
    0% {
        transform: scale(1) translateX(-50%) translateY(0);
    }
    100% {
        transform: scale(0.5) translateX(-100%) translateY(-50%);
    }
}

@keyframes sizeMoneyGO {
    0% {
        transform: scale(0.5) translateX(-100%) translateY(-50%);
    }
    100% {
        transform: scale(1) translateX(-50%) translateY(0);
    }
}

@keyframes revealQuestion {
    0% {
        opacity: 0;
        transform: translateX(-500px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes hideQuestion {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(500px);
    }
}

@keyframes revealPlayingMoney {
    0% {
        opacity: 0;
        transform: translateY(150px) translateX(-50%) rotateZ(15deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0) translateX(-50%) rotateZ(0deg);
    }
}

@keyframes hidePlayingMoney {
    0% {
        opacity: 1;
        transform: translateY(0) translateX(-50%) rotateZ(0deg);
    }
    100% {
        opacity: 0;
        transform: translateY(150px) translateX(-50%) rotateZ(-15deg);
    }
}

@keyframes menuBtnClick {
    0% {
        transform: scale(1);
        background-color: rgb(50, 50, 50);
    }
    100% {
        transform: scale(1.5);
        background-color: rgb(125, 125, 125);
        box-shadow: 0 15px 25px rgba(255, 255, 255, 0.5);
    }
}

@keyframes optionBtnClick {
    0% {
        width: 50%;
        background-color: rgb(50, 50, 50);
    }
    100% {
        width: 70%;
        background-color: rgb(150, 150, 100);
        border-color: rgb(83, 83, 55);
        box-shadow: 0 15px 25px rgba(150, 150, 100, 0.5);
    }
}

@keyframes optionBtnWrongClick {
    0% {
        width: 70%;
        background-color: rgb(150, 150, 100);
        font-size: 20px;
    }
    100% {
        font-size: 35px;
        width: 100%;
        background-color: rgb(150, 0, 0);
        border-color: rgb(83, 55, 55);
        color: rgb(255, 150, 150);
        box-shadow: 0 15px 25px rgba(255, 150, 150, 0.5);
    }
}

@keyframes optionBtnGoodClick {
    0% {
        width: 70%;
        background-color: rgb(150, 150, 100);
        font-size: 20px;
    }
    100% {
        width: 100%;
        font-size: 35px;
        background-color: rgb(0, 150, 0);
        border-color: rgb(55, 83, 55);
        color: rgb(150, 255, 150);
        box-shadow: 0 15px 25px rgba(150, 255, 150, 0.5);
    }
}

@keyframes correctOptionIdle {
    0% {
        transform: scale(1);
        width: 100%;
        font-size: 35px;
        background-color: rgb(0, 150, 0);
        border-color: rgb(55, 83, 55);
        color: rgb(150, 255, 150);
        box-shadow: 0 15px 25px rgba(150, 255, 150, 0.5);
    }
    50% {
        transform: scale(0.95);
        width: 100%;
        font-size: 35px;
        background-color: rgb(0, 75, 0);
        border-color: rgb(55, 83, 55);
        color: rgb(150, 255, 150);
        box-shadow: 0 15px 25px rgba(150, 255, 150, 0.5);
    }
    100% {
        transform: scale(1);
        width: 100%;
        font-size: 35px;
        background-color: rgb(0, 150, 0);
        border-color: rgb(55, 83, 55);
        color: rgb(150, 255, 150);
        box-shadow: 0 15px 25px rgba(150, 255, 150, 0.5);
    }
}

@keyframes wrongOptionIdle {
    0% {
        transform: scale(1);
        font-size: 35px;
        width: 100%;
        background-color: rgb(150, 0, 0);
        border-color: rgb(83, 55, 55);
        color: rgb(255, 150, 150);
        box-shadow: 0 15px 25px rgba(255, 150, 150, 0.5);
    }
    50% {
        transform: scale(0.95);
        font-size: 35px;
        width: 100%;
        background-color: rgb(75, 0, 0);
        border-color: rgb(83, 55, 55);
        color: rgb(255, 150, 150);
        box-shadow: 0 15px 25px rgba(255, 150, 150, 0.5);
    }
    100% {
        transform: scale(1);
        font-size: 35px;
        width: 100%;
        background-color: rgb(150, 0, 0);
        border-color: rgb(83, 55, 55);
        color: rgb(255, 150, 150);
        box-shadow: 0 15px 25px rgba(255, 150, 150, 0.5);
    }
}

@keyframes correctOptionReveal {
    0% {
        transform: scale(1);
        background-color: rgb(50, 50, 50);
        border-color: rgb(75, 75, 75);
        color: white;
    }
    50% {
        transform: scale(1.1);
        background-color: rgb(0, 150, 0);
        border-color: rgb(55, 83, 55);
        color: rgb(150, 255, 150);
        box-shadow: 0 15px 25px rgba(150, 255, 150, 0.5);
    }
    100% {
        transform: scale(1);
        background-color: rgb(50, 50, 50);
        border-color: rgb(75, 75, 75);
        color: white;
    }
}

@keyframes questionContainerGO {
    0% {
        opacity: 1;
        transform: scale(1) rotateZ(0deg);
    }
    100% {
        opacity: 0;
        transform: scale(0.5) rotateZ(5deg);
    }
}

@keyframes revealGameOver {
    0% {
        opacity: 0;
        transform: rotateZ(-5deg) translateY(500px);
    }
    100% {
        opacity: 1;
        transform: rotateZ(0deg) translateY(0);
    }
}

@keyframes hideGameOver {
    0% {
        opacity: 1;
        transform: rotateZ(0deg) translateY(0);
    }
    100% {
        opacity: 0;
        transform: rotateZ(5deg) translateY(-500px);
    }
}

@keyframes useHint {
    0% {
        opacity: 1;
        transform: scale(1) rotateZ(0deg);
        background-color: rgb(50, 50, 50);
        border-color: rgb(75, 75, 75);
        color: white;
    }
    75% {
        opacity: 1;
        transform: scale(1.5) rotateZ(5deg);
        background-color: rgb(153, 130, 0);
        border-color: rgb(61, 52, 0);
        color: rgb(255, 255, 150);
        box-shadow: 0 15px 25px rgba(255, 215, 0, 0.5);
    }
    100% {
        opacity: 0;
        transform: scale(0.5) rotateZ(0deg);
        background-color: rgb(50, 50, 50);
        border-color: rgb(75, 75, 75);
        color: white;
    }
}

@keyframes removeOption {
    0% {
        opacity: 1;
        transform: scale(1) rotateZ(0deg);
    }
    25% {
        opacity: 1;
        transform: scale(1.25) rotateZ(-5deg);
        background-color: rgb(150, 0, 0);
        border-color: rgb(83, 55, 55);
        color: rgb(255, 255, 255);
        box-shadow: 0 15px 25px rgba(255, 150, 150, 0.5);
    }
    100% {
        opacity: 0;
        transform: scale(0.5) rotateZ(0deg);
    }
}

@keyframes noHints {
    0% {
        opacity: 0.5;
        transform: scale(1);
    }
    50% {
        opacity: 1;
        transform: scale(1.25);
    }
    100% {
        opacity: 0.5;
        transform: scale(1);
    }
}

@keyframes friendHint {
    0% {
        opacity: 0;
        transform: translateX(250px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes revealTimer {
    0% {
        opacity: 0;
        transform: translateX(100px) translateY(100px) rotateZ(-15deg);
    }
    100% {
        opacity: 1;
        transform: translateX(0) translateY(0) rotateZ(0deg);
    }
}

@keyframes hideTimer {
    0% {
        opacity: 1;
        transform: translateX(0) translateY(0) rotateZ(0deg);
    }
    100% {
        opacity: 0;
        transform: translateX(100px) translateY(100px) rotateZ(15deg);
    }
}

@keyframes timerIdle {
    0% {
        transform: scale(1) translateX(0) translateY(0);
        background-color: rgb(50, 50, 50);
    }
    25% {
        transform: scale(1.1) translateX(-10px) translateY(-10px);
        background-color: rgb(100, 100, 100);
    }
    100% {
        transform: scale(1) translateX(0) translateY(0);
        background-color: rgb(50, 50, 50);
    }
}

@keyframes timerYellowIdle {
    0% {
        transform: scale(1) translateX(0) translateY(0);
        background-color: rgb(50, 50, 50);
    }
    25% {
        transform: scale(1.2) translateX(-15px) translateY(-15px);
        background-color: rgb(100, 100, 0);
    }
    100% {
        transform: scale(1) translateX(0) translateY(0);
        background-color: rgb(50, 50, 50);
    }
}

@keyframes timerRedIdle {
    0% {
        transform: scale(1) translateX(0) translateY(0);
        background-color: rgb(50, 50, 50);
    }
    25% {
        transform: scale(1.25) translateX(-20px) translateY(-20px);
        background-color: rgb(100, 0, 0);
    }
    100% {
        transform: scale(1) translateX(0) translateY(0);
        background-color: rgb(50, 50, 50);
    }
}

@keyframes intro1 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes intro2 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes hideIntro {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bgBlurReveal {
    0% {
        backdrop-filter: blur(0px);
    }
    100% {
        backdrop-filter: blur(25px);
    }
}

@keyframes bgBlurHide {
    0% {
        backdrop-filter: blur(25px);
    }
    100% {
        backdrop-filter: blur(0px);
    }
}

@keyframes focusBlurShow {
    0% {
        backdrop-filter: blur(0px);
    }
    100% {
        backdrop-filter: blur(10px);
    }
}

@keyframes focusBlurHide {
    0% {
        backdrop-filter: blur(10px);
    }
    100% {
        backdrop-filter: blur(0px);
    }
}

@keyframes focusShow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.75;
    }
}

@keyframes focusHide {
    0% {
        opacity: 0.75;
    }
    100% {
        opacity: 0;
    }
}

@keyframes darkBGShow {
    0% {
        z-index: -1;
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes darkBGHide {
    0% {
        opacity: 0.5;
    }
    100% {
        z-index: 0;
        opacity: 0;
    }
}

@keyframes winIdle {
    0% {
        background-color: rgb(50, 50, 50);
        color: white;
        transform: scale(1) rotateZ(0deg);
    }
    50% {
        background: rgb(129, 110, 0);
        color: gold;
        transform: scale(1.05) rotateZ(2deg);
    }
    75% {
        transform: scale(0.95) rotateZ(-3deg);
    }
    100% {
        background-color: rgb(50, 50, 50);
        color: white;
        transform: scale(1) rotateZ(0deg);
    }
}

@keyframes modeSelect {
    0% {
        border-color: rgb(75, 75, 75);
        transform: scale(1);
    }
    100% {
        border-color: white;
        transform: scale(1.05);
    }
}

@keyframes modeUnselect {
    0% {
        border-color: white;
        transform: scale(1.05);
    }
    100% {
        border-color: rgb(75, 75, 75);
        transform: scale(1);
    }
}

@keyframes modeImgSelect {
    0% {
        opacity: 0;
        transform: scale(1.25) rotateZ(25deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotateZ(0deg);
    }
}

@keyframes modeImgUnselect {
    0% {
        opacity: 1;
        transform: scale(1) rotateZ(0deg);
    }
    100% {
        opacity: 0;
        transform: scale(1.25) rotateZ(-25deg);
    }
}

/* tablets responsivity */
@media (min-width: 481px) and (max-width: 1024px) {
    .container {
        flex-direction: column;
    }

    .logo {
        margin-right: 0;
        margin-bottom: 25px;
    }

    .logoImg {
        width: 350px;
        height: 350px;
    }

    .container-money {
        font-size: 20px;
    }

    .container-playingMoney {
        font-size: 20px;
    }

    .container-modes {
        flex-direction: column;
    }

    .container-modeBtn {
        margin-top: 25px;
        margin-left: 0;
        justify-self: center;
    }

    .info {
        font-size: 10px;
        opacity: 0.1;
    }

    .container-gameOverBtn {
        flex-direction: row;
        justify-content: center;
        width: 75%;
    }

    .gameOverBtn1 {
        padding: 15px;
        margin: 10px 5px 10px 5px;
        font-size: 16px;
        width: inherit;
    }

    .gameOverBtn2 {
        padding: 15px;
        margin: 10px 5px 10px 5px;
        font-size: 16px;
        width: inherit;
    }

    .gameOverBG {
        width: 75%;
        height: 25%;
    }

    .menuText {
        margin-right: 0;
        margin-top: 25px;
    }

    .gameOverText {
        font-size: 25px;
        width: 75%;
    }

    .container-friend {
        top: 10%;
    }

    .container-timer {
        font-size: 25px;
        bottom: 25px;
        right: 25px;
    }
}

/* phones responsivity */

@media (min-width: 320px) and (max-width: 480px) {
    .container {
        flex-direction: column;
    }

    .logo {
        margin-right: 0;
        margin-bottom: 25px;
    }

    .logoImg {
        width: 200px;
        height: 200px;
    }

    .container-money {
        top: 10px;
        font-size: 15px;
    }

    .container-playingMoney {
        font-size: 15px;
        bottom: 25px;
    }

    .container-modes {
        flex-direction: column;
    }

    .container-modeBtn {
        margin-top: 25px;
        margin-left: 0;
        justify-self: center;
    }

    .modeBtn {
        height: 125px;
        width: 175px;
        font-size: 18px;
        width: 95%;
    }

    .modesText {
        font-size: 30px;
        text-align: center;
    }

    #modeImg {
        height: 32px;
        width: 32px;
    }

    #modeDesc {
        font-size: 15px;
    }

    .info {
        font-size: 10px;
        bottom: 0;
        justify-self: center;
    }

    .info:hover {
        transform: scale(1.05) translateY(-3px);
    }

    #introLogo {
        height: 300px;
        width: 300px;
        margin-bottom: 25px;
    }

    .introText {
        font-size: 25px;
    }

    .menuText {
        margin-right: 0;
        margin-top: 25px;
    }

    .gameOverText {
        font-size: 25px;
        width: 75%;
    }

    .winText {
        font-size: 30px;
        width: 75%;
    }

    .container-gameOverBtn {
        flex-direction: row;
        justify-content: center;
        width: 90%;
    }

    .gameOverBtn1 {
        padding: 15px;
        margin: 10px 5px 10px 5px;
        font-size: 16px;
        width: inherit;
    }

    .gameOverBtn2 {
        padding: 15px;
        margin: 10px 5px 10px 5px;
        font-size: 16px;
        width: inherit;
    }

    .optionBtn {
        width: 75%;
        font-size: 18px;
    }
    
    @keyframes optionBtnClick {
        0% {
            width: 75%;
            background-color: rgb(50, 50, 50);
        }
        100% {
            width: 90%;
            background-color: rgb(150, 150, 100);
            border-color: rgb(83, 83, 55);
            box-shadow: 0 15px 25px rgba(150, 150, 100, 0.5);
        }
    }

    @keyframes optionBtnWrongClick {
        0% {
            width: 90%;
            background-color: rgb(150, 150, 100);
            font-size: 20px;
        }
        100% {
            font-size: 25px;
            width: 100%;
            background-color: rgb(150, 0, 0);
            border-color: rgb(83, 55, 55);
            color: rgb(255, 150, 150);
            box-shadow: 0 15px 25px rgba(255, 150, 150, 0.5);
        }
    }

    @keyframes optionBtnGoodClick {
        0% {
            width: 90%;
            background-color: rgb(150, 150, 100);
            font-size: 20px;
        }
        100% {
            width: 100%;
            font-size: 25px;
            background-color: rgb(0, 150, 0);
            border-color: rgb(55, 83, 55);
            color: rgb(150, 255, 150);
            box-shadow: 0 15px 25px rgba(150, 255, 150, 0.5);
        }
    }

    @keyframes correctOptionIdle {
        0% {
            transform: scale(1);
            width: 100%;
            font-size: 25px;
            background-color: rgb(0, 150, 0);
            border-color: rgb(55, 83, 55);
            color: rgb(150, 255, 150);
            box-shadow: 0 15px 25px rgba(150, 255, 150, 0.5);
        }
        50% {
            transform: scale(0.95);
            width: 100%;
            font-size: 25px;
            background-color: rgb(0, 75, 0);
            border-color: rgb(55, 83, 55);
            color: rgb(150, 255, 150);
            box-shadow: 0 15px 25px rgba(150, 255, 150, 0.5);
        }
        100% {
            transform: scale(1);
            width: 100%;
            font-size: 25px;
            background-color: rgb(0, 150, 0);
            border-color: rgb(55, 83, 55);
            color: rgb(150, 255, 150);
            box-shadow: 0 15px 25px rgba(150, 255, 150, 0.5);
        }
    }

    @keyframes wrongOptionIdle {
        0% {
            transform: scale(1);
            font-size: 25px;
            width: 100%;
            background-color: rgb(150, 0, 0);
            border-color: rgb(83, 55, 55);
            color: rgb(255, 150, 150);
            box-shadow: 0 15px 25px rgba(255, 150, 150, 0.5);
        }
        50% {
            transform: scale(0.95);
            font-size: 25px;
            width: 100%;
            background-color: rgb(75, 0, 0);
            border-color: rgb(83, 55, 55);
            color: rgb(255, 150, 150);
            box-shadow: 0 15px 25px rgba(255, 150, 150, 0.5);
        }
        100% {
            transform: scale(1);
            font-size: 25px;
            width: 100%;
            background-color: rgb(150, 0, 0);
            border-color: rgb(83, 55, 55);
            color: rgb(255, 150, 150);
            box-shadow: 0 15px 25px rgba(255, 150, 150, 0.5);
        }
    }

    @keyframes menuIdle {
        0% {
            transform: translateY(30px) rotateZ(0deg);
        }
        12% {
            transform: translateY(24px) rotateZ(-3deg);
        }
        24% {
            transform: translateY(18px) rotateZ(3deg);
        }
        36% {
            transform: translateY(24px) rotateZ(-3deg);
        }
        48% {
            transform: translateY(30px) rotateZ(3deg);
        }
        60% {
            transform: translateY(36px) rotateZ(-3deg);
        }
        72% {
            transform: translateY(42px) rotateZ(3deg);
        }
        84% {
            transform: translateY(36px) rotateZ(-3deg);
        }
        100% {
            transform: translateY(30px) rotateZ(0deg);
        }
    }

    .gameOverBG {
        width: 90%;
        height: 25%;
    }

    .container-friend {
        top: 10px;
        padding: 5px;
        right: 5px;
    }

    .hintBtn {
        font-size: 12px;
    }

    .hintBtn:hover {
        width: 100px;
        box-shadow: 0 10px 15px rgba(255, 255, 255, 0.2);
    }

    .container-timer {
        font-size: 20px;
        bottom: 35px;
        right: 25px;
        padding: 10px;
    }

    .friendAnswerText {
        margin-left: 5px;
        font-size: 15px;
    }

    .friendImg {
        width: 64px;
        height: 64px;
    }

    #noHints {
        font-size: 11px;
    }

    .question {
        border-radius: 25%;
        font-size: 20px;
    }
}